:root {
    --black: #000;
    --white: #fff;
    --yellow: #F9E001;
    --gray-1: #3A4654;
    --gray-2: #2C435F;
    --gray-light-1: #cecece;


    --link-color: var(--white);
    --link-hover-color: #e8e8e8;    
    --link-active-color: #bcbcbc;

    --btn-bg: var(--yellow);
    --btn-hover-bg: #f9e00125;
    --btn-active-bg: #f9e0013d;
}