.btn {
    font-weight: 600;
    font-size: 32px;
    color: var(--yellow);
    padding: 10px 45px;
    border: 1px solid var(--btn-bg);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    text-align: center;
    cursor: pointer;
    transition: 0.15s ease-in-out;

    &:hover {
        background: var(--btn-hover-bg);
        color: var(--yellow);
    }

    &:active {
        background: var(--btn-active-bg);
    }

    &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 3px var(--btn-active-bg);
    }

    &_small {
        font-size: 28px;
    }

    &_big {
        font-size: 48px;
        padding: 15px 120px;
    }

    &_round {
        padding: 0;
        border: none;
    }

    &_icon {
        width: 56px;
        height: 56px;
    }
}

.btn-wrapper {
    display: flex;
    gap: 1.5rem;

    &-main {
        margin:  150px auto;
        flex-direction: column;
    }
    &-choices {
        margin-top: 56px;
    }

    &-results {
        justify-content: space-between;
    }

    &_centered {
        justify-content: center;
    }

    &_right {
        justify-content: flex-end;
    }
}



.yandex-share-btn {
    .ya-share2__container_size_m .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more {
        padding: 13px 45px;
        border: 1px solid var(--btn-bg);
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        cursor: pointer;
        transition: 0.15s ease-in-out;
        font-size: 28px;

        &:hover {
            background: var(--btn-hover-bg);
            color: var(--yellow);
            border: 1px solid var(--btn-bg);
        }

        &:active {
            background: var(--btn-active-bg);
        }
        &:focus {
            border: 1px solid var(--btn-bg);
        }

        &:focus-visible {
            outline: none;
            box-shadow: 0 0 0 3px var(--btn-active-bg);
        }
    }

    .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more {
        display: none;
    }

    .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more:not(.ya-share2__link_more-button-type_short) .ya-share2__title {
        white-space: normal;
        text-align: center;
        font-weight: 600;
        font-size: 28px;
        color: var(--yellow);
        line-height: 1;
        font-family: 'Tilda Sans', sans-serif;
    }
}