.description {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    margin-bottom: 60px;
    &__p {
        margin-bottom: 0;
        &+&{
            margin-top: 24px;
        }
    }
}