.text_yellow {
    color: var(--yellow);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.example {
    max-width: 360px;
    font-weight: 300;
    font-size: 24px;
    margin-left: auto;
    margin-bottom: 60px;

    &__p {
        margin-bottom: 0;

        &_first {
            margin-bottom: 24px;
        }
    }
}

.text {
    text-align: center;
    color: var(--white);
    font-weight: 300;
    margin-bottom: 120px;

    &__p {
        font-size: 24px;
    }
}

.error-text {
    margin-top: 10px;
    font-size: 18px;
    color: var(--yellow);
    margin-bottom: 10px;
}

.image-save-container {
    display: flex;
    flex-direction: column;
    margin: 0 -50px;
    padding: 0 50px;
}

.invisible {
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
}

.page {
    &-not-found {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        text-align: center;
    }
}

.not-found-title {
    font-size: 76px;
    margin-bottom: 32px;
}