.quote {
    width: 100%;
    max-width: 740px;
    font-weight: 300;
    font-size: 32px;
    color: var(--gray-2);
    padding: 40px 80px;
    border-radius: 1000px;
    background: var(--white);
    position: relative;
    margin-bottom: 100px;

    &::before {
        position: absolute;
        content: url('data:image/svg+xml,%3Csvg%20width%3D%2286%22%20height%3D%2240%22%20viewBox%3D%220%200%2086%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0.945312%2039.9999C18.166%2029.2164%2031.0039%209.10953%2035.2703%200.404053H57.9597C72.1163%205.03761%2096.2407%2016.5794%2079.4855%2025.678C62.7302%2034.7767%2020.144%2039.0171%200.945312%2039.9999Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E');
        display: block;
        width: 85px;
        height: 40px;
        left: 0;
        top: 82%;
    }
}