.result-list {

    &__icon {
        margin: 0 auto;
        color: var(--yellow);
        margin-bottom: 32px;
    }

    &__ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 100px;
    }

    &__item {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 24px;
    }
}